*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenitore{
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
}

body{
    overflow-y: scroll;
    font-family: Open+Sans;
}

.border{
    border: 2px dashed blue;
}

img{
    display: block;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

li{
    list-style-type: none;
}

button{
    padding: 5px 10px;
    background-color: #0061FE;
    color: white;
}

.btn-clear{
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid transparent;
    color: black;  
}



/* TODO      INTESTAZIONE   */

header{
    height: 80px;
    display: fixed;
    padding: 10px;
    box-shadow: 0px 1px 2px gray;
}

header div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.img-header{
    display: block;
    width: 80%;
}
.pdg-top{
    padding-top: 5px;
}


/*! CORPO DEL SITO */


.section-top{
    height: 500px;
    background-color: #A1C9F7;
}

.top-section{
    display: flex;
    flex-direction: column;
}

