*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.big-contenitore{
    max-width: 1000px;
    margin: 0 auto;
}

.contenitore{
    max-width: 900px;
    margin: 0 auto;
}


body{
    overflow-y: scroll;
    /*manca regola*/
    font-family:"Open Sans";
}

.border{
    border: 2px dashed blue;
}

img{
    display: block;
    width: 100%;
}

.flex li a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
}

button{
    padding: 5px 10px;
    background-color: #0061FE;
    color: white;
    font-size: 12px; 
}

.btn-clear{
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid transparent;
    color: black;  
    font-size: 12px;  
}

h1{
    font-size: 60px;
}

p{
    font-size: 12px;
}

.flex{
    display: flex;
}

.gap20{
    gap: 20px;
}

.gap15{
    gap: 15px;
}

.gap10{
    gap: 10px;
}

/* TODO      INTESTAZIONE   */

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    font-size: 12px;
    height: 60px;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 2px 3px gray;
    
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.img-header{
    width: 80%;
}
.pdg-top{
    padding-top: 5px;
}



/*! CORPO DEL SITO */

main{
    margin-top: 60px;
}
.section-top-bcg{
    background-color: #A1C9F7;
    padding-top: 40px;
}

.section-top{
    display: flex;
    height: 500px;
    flex-direction: column;
    justify-content: center;
}

.section-row{
    display: flex;
    position: relative;  
    margin-top: 20px; 
    height: 70%; 
}

.section-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.section-row :first-child{
    display: flex;
    flex-basis: 30%;
    gap: 10px;
    text-align: left;
}

.section-column:last-child{
    flex-basis: 70%; 
}

.section-top img{
    position: absolute;
    top: 20px;
    right: -20px;
    max-width: 70%;
}

/* !  SECTION-FATTURE */

.section-fatture{
    /*height: 900px;*/
    padding-top: 10%;
}

.card-intest{
    border-bottom: 1px solid black;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 30px;
}

.card{
    flex-direction: column;
    flex-basis: calc(100%/3);
    padding: 0 20px 20px 20px;
    gap: 40px;
    border: 1px solid;
}

.card-team{
    flex-direction: column;
    flex-basis: 100%;
    height: 250px;
    margin-top: 20px;
    border: 1px solid;
}

/*-- Card nella orizontale--*/
.team-content{
   height: 100%;
}


.team-left{
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 70%;
    padding: 20px;
}

.team-right {
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    padding: 20px;  
}

